{#
/**
 * @file
 *
 * Available variables:
 * - user_media: An array with the post of user on instagram account
 *   - id: Unique id of the post at Instagram
 *   - permalink Link to content at Instagram
 *   - media_type: VIDEO|IMAGE|CAROUSEL_ALBUM
 *   - caption: The description of the post
 *   - thumbnail_url: thumbnail for the post of type VIDEO
 *   - media_url: thumbnail for the post of type IMAGE or CAROUSEL_ALBUM
 * - block_title
 * - block_description
 * - block_text_link
 * - block_url_link
 * - block_class_names
 */
#}

<section class="{{ 'instagram ' ~ block_class_names }}">
  <div class="instagram__header">
    <div class="instagram__tile">
      {% if block_title %}
        <h2>{{ block_title|t }}</h2>
      {% endif %}
    </div>
    <div class="instagram__desc">
      {% if block_description %}
        <p>{% trans %} {{ block_description }} {% endtrans %}</p>
      {% endif %}
    </div>
    <div class="instagram__link">
      {% if block_text_link %}
        <a href="{{ block_url_link ? block_url_link : '#' }}" target="_blank" rel="noreferrer">{{ block_text_link|t }}</a>
      {% endif %}
    </div>
  </div>

  <div class="instagram__block">
    <div class="instagram__gallery" id="instagram__gallery">
      {% if user_media %}
        {% for media in user_media %}

          {% if redirect_posts_to_user_profile %}
            {% set post_link = block_url_link %}
          {% else %}
            {% set post_link = media.permalink %}
          {% endif %}

          <div class="instagram__post {{ media.media_type == "VIDEO" ? 'instagram__post--video' : 'instagram__post--image' }}">
            <a href="{{ post_link }}" rel="noreferrer" target="_blank">
              <img
                alt="Instagram feed post - {{ site_name }}"
                src="{{ media.media_type == "VIDEO" ? media.thumbnail_url : media.media_url }}"
              >
              {% if media.caption %}
                <span class="instagram__caption">{{ media.caption }}</span>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="instagram__footer">
    <div class="instagram__link instagram__link--second">
      {% if block_text_link %}
        <a href="{{ block_url_link ? block_url_link : '#' }}" target="_blank" rel="noreferrer">{{ block_text_link|t }}</a>
      {% endif %}
    </div>
  </div>
</section>
